<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About This App</h2>
    <p>A simple blog app built from the Net Ninja Node Course on YouTube.</p><br />
    <p>Grateful Thanks to the Net Ninja for this and all of his wonderful resources.</p><br />
    <p>The course goes through the process of building an entire blog app with the aim primarily of teaching Node and Express but also including MongoDB and the MVC code architecture.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>